html
    background: #141E30
    background: -webkit-linear-gradient(to left, #141E30 , #243B55)
    background: linear-gradient(to left, #141E30 , #243B55)
    height: 100%

body
    background: #141E30
    background: -webkit-linear-gradient(to left, #141E30 , #243B55)
    background: linear-gradient(to left, #141E30 , #243B55)
    min-height: 100%
    // background: rgb(51,51,51)
    // background: -moz-linear-gradient(top left, rgb(51,51,51) 80%, rgba(95,94,93,0.9) 100%)
    // background: -webkit-linear-gradient(top left, rgb(51,51,51) 80%,rgba(95,94,93,0.9) 100%)
    // background: linear-gradient(to top left, rgb(51,51,51) 80%,rgba(95,94,93,0.9) 100%)
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2cc90', endColorstr='#55555',GradientType=0.5 )  

    //background-color: #333
    color: $color_light_orange        
    font-family: 'Futura', monospace
    text-shadow: 1px 1px 5px #000000
    color: #FAFCFB
    margin: 0

.profile
    background:url(../images/bg-ff.jpg) center center fixed
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover

    
.home
    background:url(../images/bg-home.jpg) center center fixed
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover

.divider
    border: 1px solid #A4A6A5
    margin-bottom: 20px
