// @include headings()
//     @include font-weight(regular)
//     color: $color_headings

.heading 
    @include font-size(22px)

.heading-sub
    @include font-size(16px)
    @include font-weight(bold)
    //margin-bottom: 0
    //color: $color-heading-sub
    
@font-face 
    font-family: "SSF4 ABUKET"
    src: url('../fonts/SSF4 ABUKET.eot')
    src: url('../fonts/SSF4 ABUKET.otf')
    url('../fonts/SSF4 ABUKET.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/SSF4 ABUKET.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/SSF4 ABUKET.ttf')  format('truetype'), /* Safari, Android, iOS */

@font-face 
    font-family: "Futura"
    src: url('../fonts/ufonts.com_futura_medium.eot')    
    url('../fonts/ufonts.com_futura_medium.ttf') format('truetype'), /* Super Modern Browsers */    