.home
    padding-top: 80px

    @include breakpoint(phablet)
        padding-top: 50px

    .title
        margin-bottom: 30px
        @include font-size(52px)
        font-family: "SSF4 ABUKET", Open Sans, sans-serif
        text-transform: uppercase
        text-align: center
        -webkit-text-stroke: 2px $color_dark_orange

        @include transition(opacity $fade-speed ease-in)

        @include breakpoint(phablet)
            @include font-size(36px)

        &.invisible
            opacity: 0

    .about
        @include breakpoint(laptop)
            margin-top: 40px

        @include breakpoint(phablet)
            margin-top: 0

        @include transition(opacity $fade-speed ease-in)
        
        &.invisible
            opacity: 0

        > .text
            @include font-size(18px)
            text-align: center
            line-height: 22px

            @include breakpoint(laptop)
                width: 80%
                margin-left: 10%

            @include breakpoint(phablet)
                width: 95%
                margin-left: 0
        