.home
    padding: 60px 0 0 0

    .title
        opacity: 0
        margin-bottom: 10px
        @include font-size(48px)
        font-family: "SSF4 ABUKET", Open Sans, sans-serif
        text-transform: uppercase
        text-align: center
        -webkit-text-stroke: 2px $color_dark_orange

        @include breakpoint(phablet)
            @include font-size(43px)

    .about
        @include breakpoint(laptop)
            margin-top: 40px

        > .text
            @include font-size(18px)
            text-align: center
            line-height: 22px

            @include breakpoint(laptop)
                width: 80%
                margin-left: 10%
        