#profile
    display: none
    padding-bottom: 50px   

.profile         
    
    @include breakpoint(phablet)
        text-align: center

    .back-link
        color: $color_dark_orange
        text-decoration: none
        font-size: 30px

        &:hover
            text-decoration: underline

    #character-about a
        color: $color_dark_orange

    .wrapper
        min-height: 100%
        position: relative
        padding-top: 40px        
        background:url(../images/bg-ff4.jpg) center center fixed
        -webkit-background-size: cover
        -moz-background-size: cover
        -o-background-size: cover
        background-size: cover    
        z-index: 9

    .profile-roberto
        display: block
        font-size: 18px
        color: $color_yellow
        margin-top: 15px

        &:hover
            text-decoration: underline

    .fa-th:before 
        content: "\f00a"
    
    .character-text
        min-height: 540px
