.character 
    opacity: 0
    position: relative

    @include animate()

    @include breakpoint(tablet)
        display: none
        position: relative
        right: -63px

    &.invisible
        opacity: 0

    //when hovered, fade in the character
    &.is-active
       @include fade(1)
       
    //when is animated but not hovered, fade out the character
    &.is-animated:not(.is-active)
       @include fade(.5)

    & .name
        position: absolute
        bottom: 20px
        right: 100px
        left: 50%
        margin-left: -115px

        font-family: "SSF4 ABUKET", Open Sans, sans-serif
        font-size: 3rem
        color: $color_light_orange
        -webkit-text-stroke: 2px $color_dark_orange
        @include font-weight("bold")
        
        @include transition(opacity $fade-speed ease-in)

        &.invisible
            opacity: 0
        
        @include breakpoint(laptop)
            position: relative
            top: 300px


    .character-image
        position: relative

        @include breakpoint(laptop)
            position: absolute
    
    @include breakpoint(laptop)
        .ricardo-image  
            left: 60px
    
        .roberto-image
            left: -60px

        #js-character-roberto-name
            left: 100px

        #js-character-ricardo-name
            left: 230px
    
.mobile-name
    display: none
    position: relative
    font-family: "SSF4 ABUKET", Open Sans, sans-serif
    font-size: 1rem
    color: $color_dark_orange
    
    p
        text-decoration: none

    @include breakpoint(phablet) 
        display: block
            