.character 
    opacity: 0
    position: relative

    @include animate()

    @include breakpoint(laptop)
        display: none

    &.invisible
        opacity: 0

    //when hovered, fade in the character
    &.is-active
       @include fade(1)
       
    //when is animated but not hovered, fade out the character
    &.is-animated:not(.is-active)
       @include fade(.5)

    & .name
        position: absolute
        bottom: 70px
        right: 100px

        font-family: "SSF4 ABUKET", Open Sans, sans-serif
        font-size: 3rem
        color: $color_light_orange
        -webkit-text-stroke: 2px $color_dark_orange
        @include font-weight("bold")
        
        @include transition(opacity $fade-speed ease-in)

        &.invisible
            opacity: 0