.c-hamburger 
    display: none
    position: absolute
    overflow: hidden
    right: 0px
    top: 0
    margin: 0
    padding: 0
    width: 50px
    height: 50px
    font-size: 0
    text-indent: -9999px
    appearance: none
    box-shadow: none
    border-radius: none
    border: none
    cursor: pointer
    transition: background 0.3s

    &:focus 
        outline: none  

    span 
        display: block
        position: absolute
        top: 23px
        left: 10px
        right: 18px
        height: 5px
        width: 30px
        background: white
        
        &::before, &::after 
            position: absolute
            display: block''
            left: 0
            width: 100%
            height: 5px
            background-color: #fff
            content: ""
        

        &::before 
            top: -14px            

        &::after 
            bottom: -14px    

.c-hamburger--htx 
    background-color: $color_dark_orange

    span 
        transition: background 0s 0.3s

        &::before,
        &::after 
            transition-duration: 0.3s, 0.3s
            transition-delay: 0.3s, 0s


        &::before 
            transition-property: top, transform


        &::after 
            transition-property: bottom, transform

    /* active state, i.e. menu open */
    &.is-active 
        right: 80px
        background-color: #cb0032

        span 
            background: none    

            &::before 
                top: 0
                transform: rotate(45deg)


            &::after 
                bottom: 0
                transform: rotate(-45deg)

            &::before,
            &::after 
                transition-delay: 0s, 0.3s
    
.character-menu        
    margin: 15px 0    

    .list-menu
        list-style: none    

        @include breakpoint(phablet)
            text-align: left     

        .list-menu-item                        
            position: relative        
            padding: 5px
            cursor: pointer            

            &:hover
                background: rgb(210,204,144)
                background: -moz-linear-gradient(left, rgba(210,204,144,0.2) 0%, rgba(95,94,93,0.2) 100%)
                background: -webkit-linear-gradient(left, rgba(210,204,144,0.2) 0%,rgba(95,94,93,0.2) 100%)
                background: linear-gradient(to right, rgba(210,204,144,0.2) 0%,rgba(95,94,93,0.2) 100%)
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2cc90', endColorstr='#55555',GradientType=0.2 )
                                                             
            .name                
                font-size: 20px      
                color: #fafcfb       
                text-decoration: none                                               

            &.active                
                background: rgb(210,204,144)
                background: -moz-linear-gradient(left, rgba(210,204,144,0.3) 0%, rgba(95,94,93,0.3) 100%)
                background: -webkit-linear-gradient(left, rgba(210,204,144,0.3) 0%,rgba(95,94,93,0.3) 100%)
                background: linear-gradient(to right, rgba(210,204,144,0.3) 0%,rgba(95,94,93,0.3) 100%)
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2cc90', endColorstr='#55555',GradientType=0.3 )
                color: #FAFCFB            

            &.active a:before
                content: url("../images/FFXII_Menu_Cursor.png")
                position: absolute
                top: 14px
                left: -30px    
                @include animation(bounce 1s infinite)

                @include animation-timing-function(ease)  
 
                @include keyframes(bounce) 
                    0%, 20%, 50%, 80%, 100% 
                        @include transform(translateX(0px))

                    40% 
                        @include transform(translateX(10px))
                
                    60% 
                        @include transform(translateX(0px))

            
@media (max-width: 700px) 

    .profile        

        .c-hamburger 
            display: block
            z-index: 9997

            &.is-active
                right: 0px

        .character-menu          
            display: none    
            position: absolute
            right: 0
            top: -15px
            background-color: black
            width: 60%
            height: 400px
            padding-top: 10px         
            z-index: 999          
            

            .list-menu                                   

                .list-menu-item  
                    padding-left: 40px
                
                    &.active a:before
                        left: 6px


            &.is-active
                display: block
