.character-text    
    border-top: 2px solid #A4A6A5
    margin-top: 15px    
    font-size: 18px
    padding-top: 10px

    .character-text-content
        display: none

        &.visible
            display: block