.character-text    
    border-top: 2px solid #A4A6A5
    margin-top: 15px    
    font-size: 18px
    padding-top: 10px    

    #character-frontend, #character-backend, #character-tools, #character-dbs, #character-works 
        background-color: rgba(0,0,0, 0.3)

    .character-text-content
        padding-top: 20px
        display: none        

        &.visible
            display: block
    
            .list-languages, .list-tools
                list-style: none
                            
                .list-languages-item                    
                    min-height: 300px                    
                    text-align: center
                                                   
                    .sprite
                        margin: 0 auto
                        text-align: center     
                        display: block   

                    .list-item-title
                        text-transform: uppercase
                        font-size: 20px
                        margin-bottom: 10px  

        .list-works
            .title-link
                text-decoration: none
                color: $color_yellow
                &:hover
                    text-decoration: underline

                .title
                    font-size: 20px                    
                    font-weight: bold
                    letter-spacing: 2px


            .subtitle
                font-size: 18px
                font-weight: bold

            .text
                font-size: 17px

            .list
                list-style: none
                .list-item
                    background-color: black
                    color: white
                    padding: 10px
                    float: left
                    margin: 5px 5px
