.footer
    width: 100%
    bottom: 0
    position: relative

    p
        text-align: right
        padding-top: 20px

    span
        color: $color_red

    #jp_container_1 
        width: 242px
        background-color: black
        float: right

        .jp-interface
            height: 35px        

        button
            padding: 0        