.footer
    width: 100%
    bottom: 0
    position: relative

    @include breakpoint(phablet)
        //margin-left: 32px

    p
        text-align: center
        padding: 10px 0
        margin-bottom: 0

        @include breakpoint('phablet')
            text-align: center

    .jp-message
        font-size: 15px
        /*float: left*/

        @include breakpoint('laptop')
            width: 100%
            text-align: center

    .credits
        margin-top: 0
        font-size: 13px
        display: block

    .heart
        color: $color_red

    .coffee
        background-image: url('../images/Cup_of_Coffee-512.png')
        background-size: 100% auto
        background-repeat: no-repeat
        width: 20px
        height: 20px
        text-indent: -9999px
        display: inline-block

