.langs
    position: absolute 
    right: 100px 
    top: 45px

    a
        font-size: 20px
        color: $color_dark_orange
        font-family: "SSF4 ABUKET"
        text-decoration: none
        
        &:hover
            color: $color_light_orange
        
        &.active
            color: $color_light_orange