.selection-area
    margin-top: 80px
    position: absolute
    width: 400px
    left: 50%
    margin-left: -200px

    @include transition(opacity $fade-speed ease-in)
    
    @include breakpoint(laptop)
        //margin-top: 10px
        position: relative

    @include breakpoint(phablet)
        margin-left: 0
        margin-top: 0
        margin-bottom: 50px
        width: 100%
        left: 0
        position: relative
        //margin-left: 30%
        padding: 0 25%

    @media (max-width: 450px) 
        //padding: 0 103px
        padding: 0 23%

    @include breakpoint(mobileonly)
        //padding: 0 86px

    &.invisible
        opacity: 0

    .question-mark
        font-size: 40px
        font-family: "SSF4 ABUKET", Open Sans, sans-serif
        -webkit-text-stroke: 0.15rem $color_dark_orange
        line-height: 3.3
        position: relative
        left: 5px
        top: 3px

    .square
        position: relative
        cursor: pointer
        width: 23%
        margin: 1%
        float: left
        height: 126px
        text-align: center
        background-color: $color_black
        border: 2px solid $color_light_gray
        box-shadow: 5px 5px 5px 1px $color_black
        overflow: hidden

        @include rounded()

        @include breakpoint(phablet)
            width: 48%
            height: 168px
        
        img
            /*border-radius: 0.6em*/
        
        .player-one-tag
            font-family: "Futura", Open Sans, sans-serif
            @include font-weight("normal")
            @include font-size(18px)
            top: -2px
            left: 2px
            position: absolute
            color: $color_light_blue
            
            @include transition(opacity .15s ease-in-out)

            animation: text-glowing 300ms ease-in-out infinite
            animation-direction: alternate

            &.invisible
                opacity: 0

        &.is-selectable:hover 
            // -webkit-animation: c-glowing 300ms ease-in-out infinite
            // -webkit-animation-direction: alternate

            // -moz-animation: c-glowing 300ms ease-in-out infinite
            // -moz-animation-direction: alternate
   
            // -o-animation: c-glowing 300ms ease-in-out infinite
            // -o-animation-direction: alternate

            animation: c-glowing 300ms ease-in-out infinite
            animation-direction: alternate
            

        &.is-active
            // -webkit-animation: c-glowing 300ms ease-in-out infinite
            // -webkit-animation-direction: alternate

            // -moz-animation: c-glowing 300ms ease-in-out infinite
            // -moz-animation-direction: alternate
   
            // -o-animation: c-glowing 300ms ease-in-out infinite
            // -o-animation-direction: alternate

            animation: c-glowing 300ms ease-in-out infinite
            animation-direction: alternate
        
        //any square that is not selectable
        &:not(.is-active):not(.is-selectable)
                opacity: 0.7
                
                @include breakpoint(phablet)
                    display: none


/*animations*/
// @-webkit-keyframes c-glowing 
//     from
//         box-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 15px #fff, 0 0 20px $color_light_yellow, 0 0 10px $color_light_yellow, 0 0 10px $color_light_yellow, 0 0 10px $color_light_yellow, 0 0 10px $color_light_yellow
//     to 
//         box-shadow: 0 0 2.5px #fff, 0 0 2.5px #fff, 0 0 7.5px #fff, 0 0 10px $color_light_yellow, 0 0 5px $color_light_yellow, 0 0 5px $color_light_yellow, 0 0 5px $color_light_yellow, 0 0 2px $color_light_yellow

// @-moz-keyframes c-glowing
//     from
//         box-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 15px #fff, 0 0 20px $color_light_yellow, 0 0 10px $color_light_yellow, 0 0 10px $color_light_yellow, 0 0 10px $color_light_yellow, 0 0 10px $color_light_yellow
//     to 
//         box-shadow: 0 0 2.5px #fff, 0 0 2.5px #fff, 0 0 7.5px #fff, 0 0 10px $color_light_yellow, 0 0 5px $color_light_yellow, 0 0 5px $color_light_yellow, 0 0 5px $color_light_yellow, 0 0 2px $color_light_yellow

@keyframes c-glowing
    from
        box-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 15px #fff, 0 0 20px $color_light_yellow, 0 0 10px $color_light_yellow, 0 0 10px $color_light_yellow, 0 0 10px $color_light_yellow, 0 0 10px $color_light_yellow
    to 
        box-shadow: 0 0 2.5px #fff, 0 0 2.5px #fff, 0 0 7.5px #fff, 0 0 10px $color_light_yellow, 0 0 5px $color_light_yellow, 0 0 5px $color_light_yellow, 0 0 5px $color_light_yellow, 0 0 2px $color_light_yellow

@keyframes text-glowing
    from
        text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px $color_light_blue, 0 0 5px $color_light_blue, 0 0 2px $color_light_blue, 0 0 10px $color_light_blue, 0 0 10px $color_light_blue
    to 
        text-shadow: 0 0 .5px #fff, 0 0 .5px #fff, 0 0 .5px #fff, 0 0 .5px $color_light_blue, 0 0 5px $color_light_blue, 0 0 .5px $color_light_blue, 0 0 5px $color_light_blue, 0 0 2px $color_light_blue

