.selection-area
    margin-top: 150px
    position: absolute
    width: 400px
    left: 50%
    margin-left: -200px

    > .row .square
        //transform: rotateX(-130deg)
        text-align: center

        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)

        @include rounded()

        background-color: $color_black
        border: 1px solid $color_light_gray

        animation-name: popIn
        animation-duration: 500ms
        animation-timing-function: ease-in
        animation-delay: 0s
        animation-iteration-count: 1
        animation-direction: normal
        animation-fill-mode: forwards

    .question-mark
        font-size: 64px
        @include font-weight("bold")
        font-family: "SSF4 ABUKET", Open Sans, sans-serif
        -webkit-text-stroke: 2px $color_dark_orange

.infinity-symbol > .image
    padding: 10px

@keyframes popIn
    from 
        opacity: 0
    to
        opacify: 1