@mixin font-size($size)
  font-size: $size

@mixin font-weight($font-weight)

    @if ($font-weight == "regular")
        font-weight: 300

    @if ($font-weight == "bold")
        font-weight: 600

// @mixin headings($from: 1, $to: 6)

//     %base-heading 
//         @content;
    
//     @if $from >= 1 and $to <= 6
//         @for $i from $from through $to
//             h#{$i}
//                 @extend %base-heading;

@mixin rounded($radius: 0.5em)
    -webkit-border-radius: $radius
    -moz-border-radius: $radius
    border-radius: $radius
    
@mixin animate($name, $duration, $timing-function, $delay, $iteration-count, $direction, $fill-mode)
    animation-name: $name
    animation-duration: $duration
    animation-timing-function: $timing-function
    animation-delay: $delay
    animation-iteration-count: $iteration-count
    animation-direction: $direction
    animation-fill-mode: $fill-mode