@mixin font-size($size)
  font-size: $size

@mixin font-weight($font-weight)
    @if ($font-weight == "regular")
        font-weight: 300

    @if ($font-weight == "bold")
        font-weight: 600

@mixin rounded($radius: 0.5em)
    -webkit-border-radius: $radius
    -moz-border-radius: $radius
    border-radius: $radius

//TODO change name to something more meaningfull
@mixin animate()
    opacity: 0

    -moz-animation-duration: $fade-speed
    -o-animation-duration: $fade-speed
    -webkit-animation-duration: $fade-speed
    animation-duration: $fade-speed

@mixin animate-fade-in()
    opacity: 0
    
    animation: fade-in ease-in 1
    -moz-animation: fade-in ease-in 1
    -o-animation: fade-in ease-in 1
    
    animation-fill-mode: forwards
    -moz-animation-fill-mode: forwards
    -o-animation-fill-mode: forwards
	
    animation-duration: $fade-speed
    -moz-animation-duration: $fade-speed
    -o-animation-duration: $fade-speed
	
@mixin animate-active-transition($opacity-value)
    opacity: $opacity-value
    -webkit-transition: opacity $fade-speed
    transition: opacity $fade-speed
// @mixin animate($name, $duration, $timing-function, $delay, $iteration-count, $direction, "both")
//     animation-name: $name
//     animation-duration: $duration
//     animation-timing-function: $timing-function
//     animation-delay: $delay
//     animation-iteration-count: $iteration-count
//     animation-direction: $direction
//     animation-fill-mode: "both"