/* ---- particles.js container ---- */ 
#particles-js{ 
    position:absolute; width: 100%; min-height: 800px;
    background-image: url(""); 
    background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; 
    top:0; left:0;
    z-index: -9999;
} 