@font-face 
    font-family: "SSF4 ABUKET"
    src: url('../fonts/SSF4 ABUKET.eot')
    src: url('../fonts/SSF4 ABUKET.otf')
    url('../fonts/SSF4 ABUKET.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/SSF4 ABUKET.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/SSF4 ABUKET.ttf')  format('truetype'), /* Safari, Android, iOS */
