@keyframes fade-in
  from 
    opacity: 0
  to
    opacity: 1

@keyframes fade-out
  from 
    opacity: 1
  to
    opacity: .5

@keyframes fade-in-left
  from
    opacity: 0
    transform: translateX(-200px)
  to
    opacity: .5
    transform: translateX(0)
    
    
@keyframes fade-in-right
  from
    opacity: 0
    transform: translateX(200px)
  to
    opacity: .5
    transform: translateX(0)

.fade-in
  -moz-animation-name: fade-in
  -o-animation-name: fade-in
  -webkit-animation-name: fade-in
  animation-name: fade-in

.fade-out
  -moz-animation-name: fade-out
  -o-animation-name: fade-out
  -webkit-animation-name: fade-out
  animation-name: fade-out

.fade-in-left
  -moz-animation-name: fade-in-left
  -o-animation-name: fade-in-left
  -webkit-animation-name: fade-in-left
  animation-name: fade-in-left
  
.fade-in-right
  -moz-animation-name: fade-in-right
  -o-animation-name: fade-in-right
  -webkit-animation-name: fade-in-right
  animation-name: fade-in-right