@keyframes fade
    from
        opacity: 0
    to
        opacity: 1

@keyframes fade-in-left
  from
    opacity: 0
    transform: translateX(-$translate-x-initial-position)
  to
    opacity: .5
    transform: translateX(0)

@keyframes fade-in-right
  from
    opacity: 0
    transform: translateX($translate-x-initial-position)
  to
    opacity: .5
    transform: translateX(0)

.fade-in
  @include fade(1)

.fade-in-left
  animation-name: fade-in-left
  
.fade-in-right
  animation-name: fade-in-right